VITE_SUPABASE_URL=https://zlsizegxxxhzpbmyoptz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpsc2l6ZWd4eHhoenBibXlvcHR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NjA4NTksImV4cCI6MjA5MjIzNjg1OX0.dFdgu4YniKAwdkRLRs9zcHtus2B-En5o9jlsFWr2zB0
